.color_block{
	width: 300px;
	height: 300px;
	margin: 200px;
}
.animation1{
	background-color: red;
	border-radius: 5px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
	transition: background-color 1s, border-radius 1s, width 1s, height 1s, margin 1s;
}
.animation1:hover{
	background-color: blue;
	border-radius: 100%;
	width: 400px;
	height: 400px;
	margin: 100px;
}
.block_1{
	background-color: green;
	width: 100px;
	height: 100px;
	border-radius: 100%;
}
p{
	color: white;
	text-align: center;
	padding-top: 40%;
}
.animation2{
	animation-duration: 3s;
	animation-name: slide;
	animation-iteration-count: infinite; 
}
@keyframes slide{
	from{
		width: 100px; height: 100px;
	}
	to{
		margin-left: 75%;
	}
	30%{margin-left: 15%}
}